# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
media/
staticfiles/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

git add .gitignore
